<!DOCTYPE html>
<html>
  <head>
    <title>Home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>로그인 성공</h1>
    <p>[<%= user_id %>]님 환영합니다</p>
    
    <form action="/auth/logout" method="post">
      <button type="submit">Logout</button>
    </form>

    <p class="margin"><a href="/video/index?id=test1.mp4">영상1</a></p>
    <p class="margin"><a href="/video/index?id=test2.mp4">영상2</a></p>
    <p class="margin"><a href="/video/index?id=test3.mp4">영상3</a></p>
  </body>
</html>